---
import Layout from '../layouts/Layout.astro';
import NavbarComponent from '../components/Navbar.astro';
import FooterComponent from '../components/Footer.astro';
import LinuxDistroSearchComponent from '../components/LinuxDistroSearch.vue';
---

<Layout title="gentoo-news-blog - distro search page">
  <NavbarComponent />
  <main>
    <div class="container mt-4">
      <LinuxDistroSearchComponent client:only="vue"/>
    </div>
  </main>
  <div style="margin-top:50vh;">
    <FooterComponent/>
  </div>
</Layout>
