<astro-fragment>
  <footer class="p-2 bg-dark d-flex flex-wrap justify-content-between align-items-center  border-top">
    <p class="col-md-4 mb-0 text-light">© 2023 <a class="text-info" target="_blank" href="https://github.com/markmental">Created by markmental</a></p>

    <a href="/gentoo-news-blog/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
      <img src="/gentoo-news-blog/gentoo-logo.png" alt="gentoo-news-blog logo" style="width: 30px; margin-right: 8px;">
      <i class="text-light">gentoo-news-blog</i>
    </a>

    <ul class="nav col-md-4 justify-content-center">
      <li class="nav-item m-2"><a href="/gentoo-news-blog/" class="nav-link px-1 text-light">Home</a></li>
      <li class="nav-item m-2"><a href="/gentoo-news-blog/news" class="nav-link px-1 text-light">News</a></li>
      <li class="nav-item m-2"><a href="/gentoo-news-blog/history" class="nav-link px-1 text-light">Gentoo History</a></li>
      <li class="nav-item m-2"><a href="/gentoo-news-blog/distro-search" class="nav-link px-1 text-light">Search</a></li>
      <!-- Add more links here if needed -->
    </ul>
  </footer>
</astro-fragment>
