<astro-fragment>
  <nav class="p-2 navbar navbar-expand-lg navbar-dark bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/gentoo-news-blog/">
        <img src="/gentoo-news-blog/gentoo-logo.png" alt="gentoo-news-blog logo" style="width: 48px; margin-right: 8px;">
        <i class="text-dark">gentoo-news-blog</i>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="text-dark">☰</span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link active text-dark" href="/gentoo-news-blog/">Home <span class="visually-hidden">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="/gentoo-news-blog/news">News</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="/gentoo-news-blog/history">Gentoo History</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="/gentoo-news-blog/distro-search">Search</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</astro-fragment>
