<astro-fragment>
  <div class="container my-5">
    <h2 class="mb-3">Gentoo News</h2>
    <div class="card p-4">
      <div class="card-body">
        <h5 class="card-title">Latest News:</h5>
        <p class="card-text">"Gentoo accepted into Google Summer of Code 2023"</p>
        <a href="https://www.gentoo.org/news/2023/02/22/Gentoo-GSoC-2023.html" target="_blank" class="btn btn-primary m-2">
          Read More
        </a>
        <hr>
        <p class="card-text">Gentoo News brings you the latest updates and announcements from the Gentoo Linux community. Stay informed about new releases, events, and exciting developments.</p>
        <a href="https://gentoo.org/news/" target="_blank" class="btn btn-primary m-2">
          <img
            src="/gentoo-news-blog/gentoo-logo.png"
            alt="Gentoo News"
            style="vertical-align: middle; margin-right: 5px; height: 20px"
          />
          Gentoo News
        </a>
      </div>
    </div>
  </div>

  <div class="container my-5">
    <h2 class="mb-3">Gentoo Forum</h2>
    <div class="card p-4">
      <div class="card-body">
        <h5 class="card-title">Latest News:</h5>
        <p class="card-text">"Join the Gentoo Community in the Discussion Forum"</p>
        <a href="https://forums.gentoo.org/" target="_blank" class="btn btn-primary m-2">
          Read More
        </a>
        <hr>
        <p class="card-text">The Gentoo Forum is where the vibrant Gentoo community comes together to discuss, troubleshoot, and share ideas. Connect with like-minded enthusiasts and experts.</p>
        <a href="https://forums.gentoo.org/" target="_blank" class="btn btn-primary m-2">
          <img
            src="/gentoo-news-blog/gentoo-logo.png"
            alt="Gentoo News"
            style="vertical-align: middle; margin-right: 5px; height: 20px"
          />
          Gentoo Forum
        </a>
      </div>
    </div>
  </div>
</astro-fragment>

<style>
/* Add your custom CSS styles here */
</style>
